@font-face {
    font-family: Trim;
    src: url(trim-regular.ttf);
    font-weight: 300;
}

html, body
{
	font-family: Trim, sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
	background: #222222;
}

#version-info
{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #be255d;
}

.view
{
	display: none;
}

.view.active
{
	display: block;
}

.view-install-screen-logo
{
	padding-top: 30px;
	text-align: center;
}

.view-install-screen-logo img
{
	width: 142px;
}

.view-install-screen-text
{
	text-transform: uppercase;
	text-align: center;
	font-size: 20px;
	width: 290px;
	margin: 30px auto 0;
	color: #be255d;
}

.view-home-logo
{
	padding-top: 30px;
	text-align: center;
}

.view-home-logo img
{
	width: 162px;
}

.view-home-buttons,
.view-find-server-buttons
{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.view-find-server-loading
{
	padding-top: 65px;
	margin-bottom: 20px;
	text-align: center;
}

.view-find-server-loading img
{
	width: 142px;	
}

.view-find-server-text
{
	text-transform: uppercase;
	text-align: center;
	font-size: 25px;
	color: #be255d;
}

.btn
{
	display: block;
	line-height: 90px;
	width: 100%;
	background: red;
	border: 0;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

.btn-pink
{
	background: #be255d;
}

.btn-orange
{
	background: #f47b20;
}