html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 1100px;
}
.second-screen {
  padding: 50px 30px;
}
.second-screen .activity-chart-clock {
  margin-top: -40px;
}
.page {
  padding: 30px;
}
.main-menu {
  margin-top: -1px;
}
.main-menu > li > a {
  margin-right: 0 !important;
  border-radius: 0 !important;
}
.device-list {
  margin: -15px;
  text-align: center;
}
.device {
  padding: 10px;
  margin: 15px;
  border: 1px solid #eeeeee;
  width: 125px;
  height: 125px;
  display: inline-block;
  cursor: pointer;
}
.device input {
  vertical-align: top;
}
.device:hover,
.device.device-selected {
  background: #f4f4f4;
}
.device .device-device-number {
  font-weight: bold;
}
.device .device-group,
.device .device-device-number,
.device .device-current-value,
.device .device-connected-label {
  margin-bottom: 5px;
}
.device .label {
  display: block;
}
.mouse-area-selector {
  position: absolute;
  background: rgba(210, 210, 210, 0.1);
  border: 1px dashed #AAA;
}
.keypad-address {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #999;
}
.activity-chart-canvas {
  pointer-events: none;
}
.activity-chart-clock {
  position: absolute;
  margin-top: -70px;
  width: 100%;
  text-align: center;
  font-size: 25px;
  pointer-events: none;
}
.activity-chart-details {
  padding: 5px 15px;
}
.activity-chart-details-legend {
  float: right;
}
.activity-chart-details-info {
  float: left;
}
.activity-chart-details-legend-item {
  font-size: 24px;
}
.activity-chart-details-legend-item-color {
  display: none;
}
fieldset {
  margin-bottom: 5em;
}

/*# sourceMappingURL=admin.css.map */
