@pink: #b90e39;
@orange: #f47b20;
@gradientView: linear-gradient(transparent, #0a0a0a94);
@gradient: linear-gradient(180deg, #F80880, #A10654);

@font-face {
    font-family: GothamRoundedMedium_21022;
    src: url(/assets/GothamRoundedMedium_21022.ttf);
    font-weight: 300;
}

// html, body
// {
// 	height: 100%;
// }

body
{
	background: #222222;
	font: 41% GothamRoundedMedium_21022, sans-serif;
	overflow: hidden;
	position: absolute;
    height: 100%;
    width: 100%;	
	padding: 0;
	margin: 0;
}
.fixed{
	overflow: hidden;
	height:100%;
	width:100%;
	position: fixed;
}
#gradient
{
	color: #fff;
	background: @gradient;
	background-size: 800% 800%;
	height: 100%;
	width: 100%;
	top:57%;
	position: absolute;
	-webkit-animation: Gradient 2s ease infinite;
	-moz-animation: Gradient 2s ease infinite;
	animation: Gradient 5s ease infinite;
}

@-webkit-keyframes Gradient 
{
	0% {
	background-position: 50% 0%
	}
	50% {
	background-position: 50% 100%
	}
	100% {
	background-position: 50% 0%
	}
}
	@-moz-keyframes Gradient 
{
	0% {
	background-position: 50% 0%
	}
	50% {
	background-position: 50% 100%
	}
	100% {
	background-position: 50% 0%
	}
}
	@keyframes Gradient 
{
	0% {
	background-position: 50% 0%
	}
	50% {
	background-position: 50% 100%
	}
	100% {
	background-position: 50% 0%
	}
}

.slider-view
{
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: @gradientView;

		#principal
		{
			position: relative;
			height: 100%;
			background: url("assets/wireframe_fundo_vazado.png") center no-repeat;
			background-size: 100% 100%;
		}
			
		#volume
		{
			position: absolute;
			width: 100%;
			height: 72%;
			top: 23%;
			background: url("assets/barra_claro.png") center no-repeat;
			background-size: contain;
		}

		#num
		{
			position: absolute;
			bottom: 96.5%;
			left: 6%;
			color: white;
			font-size: 1.5em;
			-webkit-touch-callout: none;
   			-webkit-user-select: none;
   			-khtml-user-select: none;
   			-moz-user-select: none;
   			-ms-user-select: none;
   			user-select: none;
		}

		#num2
		{
			position: absolute;
			bottom: 50%;
			max-width:  49px;
			left: 6%;
			color: white;
			font-size: 1.5em;
			-webkit-touch-callout: none;
   			-webkit-user-select: none;
   			-khtml-user-select: none;
   			-moz-user-select: none;
   			-ms-user-select: none;
   			user-select: none;
		}

		#num3
		{
			position: absolute;
			bottom: -1%;
			left: 6%;
			color: white;
			font-size: 1.5em;
			-webkit-touch-callout: none;
   			-webkit-user-select: none;
   			-khtml-user-select: none;
   			-moz-user-select: none;
   			-ms-user-select: none;
   			user-select: none;
		}

		.slider
		{
			position: absolute;
			height: 10%;
			width: 100%;
			bottom: 47%;
			background: url("/assets/botao_claro.png") center no-repeat;
			background-size: contain;
			cursor: pointer;
		}

		.output
		{
			color: white;
			position: absolute;
			font-size: 7em;
			left: 40%;
			top: 5%;
			-webkit-touch-callout: none;
   			-webkit-user-select: none;
   			-khtml-user-select: none;
   			-moz-user-select: none;
   			-ms-user-select: none;
   			user-select: none;
		}

		#divisoes
		{
			position: relative;
			height: 100%;
			top: -3%;
			background: url("/assets/divisoes.png") center no-repeat;
			background-size: contain;
		}
		

	// .output-left
	// {
	// 	right: -80px;
	// 	color: @pink;
	// }

	// .output-align-right
	// {
	// 	text-align: right;
	// }
}

.offline-view
{	
	height: 100%;
	background: linear-gradient(transparent, #0a0a0a94 94);
	background-size: 300% 100%;
	
	
	.offline-wireframe
	{
		position: absolute;
		height: 100%;
		width: 100%;
		background: url("assets/wireframe_2.png");
  		background-size: 100% 100%;	
	}

	p
	{
		text-transform: uppercase;
		font-size: 23px;
		text-align: center;
		color: white;
		position: relative;
		top: 147px;
		left: 0%;
	}

	#score
	{
		position: absolute;
		left: 0%;
		top: 0%;
		
	}
	#score img
	{
		width: 17%;
		left: 41%;
		top: 20px;
		position: relative;
	}
}

.register-view
{
	padding-top: 20%;

	#register-message
	{
		text-transform: uppercase;
		text-align: center;
		font-size: 22px;
		width: 290px;
		margin: 40px auto 30px;
		color: #fff;
	}

	#register-input
	{
		display: block;
		width: 240px;
		margin: 0 auto;
		padding: 4px 8px;
		background: transparent;
		font-size: 22px;
		color: #fff;
		border: 3px solid @pink;
		border-radius: 7px;

		&:focus
		{
			outline: none !important;
			border-color: lighten(@pink, 12%);
		}
	}

	#register-button
	{
		position: absolute;
		bottom: 0;
		width: 100%;
		color: #fff;	
	}

	img
	{
		width: 25%;
		position: absolute;
		left: 3%;
		top: 3%;
	}
}

.btn
{
	display: block;
	line-height: 90px;
	width: 100%;
	background: red;
	border: 0;
	text-transform: uppercase;
	font-size: 14px;
	text-align: center;
}

.btn-pink
{
	background: @pink;
}

.btn-orange
{
	background: @orange;
}